<% content_for :head do %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
  <%= javascript_include_tag @highcharts_js_path %>
<% end %>

<h1>Class : <%= @klass %></h1>

<% @pie_charts.each_with_index do | chart, index | %>
  <%= high_chart("pie_#{index}", chart) do | c | %>
    <%=raw "options.plotOptions.pie.dataLabels.formatter = \
           function() { return '<b>' + this.point.name + '</b>: ' + this.y + ' (' + Math.floor(this.percentage) + '%)' ;}" %>
  <% end %>
<% end %>

<% @line_charts.each_with_index do | chart, index | %>
  <%= high_chart("line_#{index}", chart) %>
<% end %>
