<h1>Setting</h1>
<br/>
<pre>Setup parameters for drawing graphs.</pre>
<br/>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#">Home1</a>
  </li>
  <li><a href="#">Home2</a></li>
  <li><a href="#">Home3</a></li>
</ul>

<%= form_tag graph_update_setting_path, :autocomplete => "off" do %>
  <h3>Class:</h3>
  <%= @klass %>
  <br/><br/>

  <h3>Key:</h3>
  <%= select("setting", "key", @fields, { :include_blank => true, :selected => @field_key}) %>
  <br/><br/>

  <h3>Value:</h3>
  <%= radio_button_tag "type", 0, @radio_options[0] %> Select Field:
  <br/>
    <%= select("value0", "value0", @fields, { :include_blank => true, :selected => @value_options[0] }) %>
  <br/>
  <%= radio_button_tag "type", 1, @radio_options[1] %> Specify Value:
  <br/>
    <%= text_field_tag("value1", @value_options[1]) %>
  <br/>
  <%= radio_button_tag "type", 2, @radio_options[2] %> Select Method:
  <br/>
    <%= select("value2", "value2", @methods, { :include_blank => true, :selected => @value_options[2] }) %>

  <br/><br/>
  <div class="actions">
    <button type="submit" class="btn btn-primary">
      Update
    </button>
  </div>

<% end %>