<% content_for :head do %>
  <%= javascript_include_tag GraphMapperRails::Initializer.config.highcharts_js_path %>

<script type="text/javascript">
  $(document).ready(function() {
    var tab_index = <%= @selected_tab_index || "1" %>;

    $('#tab_header_' + tab_index).addClass('active');
    $('#tab_' + tab_index).addClass("active");

    $('li a').click(function(){
      var clicked_tab_index = $(this).data('index');
      $('#selected_tab_index')[0].value = clicked_tab_index;
    });
  });
</script>

<% end %>

<div class="row">
  <div class="span4">
    <h1>Setting</h1>
    <br/>
    <pre>Setup parameters for drawing graphs.</pre>
    <br/>

    <h3>Class Name</h3>
    <%= @klass %>
    <br/><br/>

    <h3>Parameters</h3><br/>
    <%= form_tag graph_update_setting_path, :autocomplete => "off" do %>
      <%= hidden_field_tag 'selected_tab_index', @selected_tab_index %>

      <div class="tabbable tabs-below">
        <ul class="nav nav-tabs">
          <li id="tab_header_1"><a href="#tab_1" data-toggle="tab" data-index="1">Records</a></li>
          <li id="tab_header_2"><a href="#tab_2" data-toggle="tab" data-index="2">Dates</a></li>
          <li id="tab_header_3"><a href="#tab_3" data-toggle="tab" data-index="3">Section 3</a></li>
        </ul>

        <div class="tab-content" style="padding-left: 15px; padding-bottom: 9px; border-bottom: 1px solid #ddd;">
          <div class="tab-pane" id="tab_1">
            <%= radio_button_tag "type", 0, @radio_options[0] %> Select by field:
            <br/>
              <b>Date</b> <%= select("setting", "date", @fields, { :include_blank => true, :selected => @selected_items[:date]}) %><br/>
              <b>Value</b> <%= select("setting", "value", @fields, { :include_blank => true, :selected => @selected_items[:value] }) %><br/>
              <b>Keyword</b> <%= select("setting", "keyword", @fields, { :include_blank => true, :selected => @selected_items[:keyword] }) %>
            <br/><br/>
            <%= radio_button_tag "type", 1, @radio_options[1] %> Select by method:
            <br/>
              <b>Method</b> <%= select("setting", "method", @methods, { :include_blank => true, :selected => @selected_items[:method] }) %>
          </div>

          <div class="tab-pane" id="tab_2">
            <b>Span</b>
            <%= select("date_setting", "span", ["Daily", "Weekly", "Monthly"], { :selected => @selected_items[:span] })%>
            <br/>
            <b>Format</b>
            <%= text_field_tag :date_format, @selected_items[:date_format] %>
            <br/>
            <b>Duration</b>
            <%= text_field_tag "duration", @selected_items[:duration], :size => 10, :maxlength => 10, :style => "width:auto;" %>
            <%= select("setting", "duration_type", @duration_types, {:selected => @selected_items[:duration_type] }, :style => "width:auto;") %>
            <br/>
            <b>Moving Average Length</b>
            <%= text_field_tag "moving_average_length", @selected_items[:moving_average_length],
                               :size => 10, :maxlength => 10, :style => "width:auto;" %>
          </div>

          <div class="tab-pane" id="tab_3">
            <p>TBD</p>
          </div>
        </div>
      </div> <!-- /tabbable -->

      <br/><br/>
      <div class="actions">
        <button type="submit" class="btn btn-primary">
          Update
        </button>
      </div>
    <% end %>
  </div>
  <div class="span8">
    <h2>Graph</h2>
    <%= render :partial => 'graph_mapper_rails/partial/graph', :locals => {:pie_charts => @pie_charts, :line_charts => @line_charts} %>
  </div>
</div>