<h1>Setting</h1>
<br/>
<pre>Setup parameters for drawing graphs.</pre>
<br/>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#">Home1</a>
  </li>
  <li><a href="#">Home2</a></li>
  <li><a href="#">Home3</a></li>
</ul>

<%= form_tag graph_update_setting_path, :autocomplete => "off" do %>
  <h3>Class:</h3>
  <%= @klass %>
  <br/><br/>

  <h3>Value:</h3>
  <%= radio_button_tag "type", 0, @radio_options[0] %> Select by field:
  <br/>
    <b>Date</b> <%= select("setting", "date", @fields, { :include_blank => true, :selected => @selected_items[:date]}) %><br/>
    <b>Value</b> <%= select("setting", "value", @fields, { :include_blank => true, :selected => @selected_items[:value] }) %><br/>
    <b>Keyword</b> <%= select("setting", "keyword", @fields, { :include_blank => true, :selected => @selected_items[:keyword] }) %>
  <br/><br/>
  <%= radio_button_tag "type", 1, @radio_options[1] %> Select by method:
  <br/>
    <b>Method</b> <%= select("setting", "method", @methods, { :include_blank => true, :selected => @selected_items[:method] }) %>

  <br/><br/>
  <div class="actions">
    <button type="submit" class="btn btn-primary">
      Update
    </button>
  </div>

<% end %>