<h1>Setting</h1>
<br/>
<pre>Setup parameters for drawing graphs.</pre>
<br/>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#">Home1</a>
  </li>
  <li><a href="#">Home2</a></li>
  <li><a href="#">Home3</a></li>
</ul>

<%= form_tag graph_update_setting_path, :autocomplete => "off" do %>
  <h3>Class:</h3>
  <%= @klass %>
  <br/><br/>

  <h3>Key:</h3>
  <%= select("setting", "key", @fields, { :include_blank => true }) %>
  <br/><br/>

  <h3>Value:</h3>
  <%= radio_button_tag "num_group", 0, :checked => "checked" %> Select Field:
  <br/>
    <%= select("setting", "key", @fields, { :include_blank => true }) %>
  <br/>
  <%= radio_button_tag "num_group", 1 %> Specify Value:
  <br/>
    <%= text_field_tag("value_text") %>
  <br/>
  <%= radio_button_tag "num_group", 2 %> Select Method:
  <br/>
    <%= select("value_select", "num", @methods, { :include_blank => true }) %>

  <br/><br/>
  <div class="actions">
    <button type="submit" class="btn btn-primary">
      Update
    </button>
  </div>

<% end %>