<!DOCTYPE html>
<html>
<head>
  <title>GraphMapperRails</title>
  <%= stylesheet_link_tag    "graph_mapper_rails/application", :media => "all" %>
  <%= javascript_include_tag "graph_mapper_rails/application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= yield :head %>
</head>
<body>
  <%= render :partial => 'graph_mapper_rails/partial/header' %>

  <div class="container">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">×</a>
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
